[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
poloniex = "*"
slackclient = "*"
pymongo = "*"
websocket-client = "*"

[dev-packages]

[requires]
python_version = "3.6"
